body {
  margin: 0;
}

.lead {
  position: absolute;
  top: 22%;
  left: 25%;
}

.display-4 {
  position: absolute;
  top: 4%;
}

.nav-link {
  color: black;
}

.navbar-brand {
  color: black;
}

.twothirds {
  background-position: center;
  background-image: url("https://www.worlds50bestbars.com/filestore/jpg/Alquimico%20(2).jpg");
}

.onethird {
  background-position: center;
  background-image: url("https://www.worlds50bestbars.com/filestore/jpeg/Alquimico%20(1).jpeg");
  height: 400px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 2rem;
}

.jumbotron {
  margin: 0, 0, 0, 10px;
  color: white;
  background-color: transparent;
  position: relative;
  border: 1px solid white;
  background-image: url("https://www.worlds50bestbars.com/filestore/jpg/Handshake%20Speakeasy%20(1).jpg");
  height: 36vh;
}

.card {
  border-radius: 10px;
  margin-bottom: 50px;
}

.card img {
  max-height: 300px;
  width: auto;
  border-radius: 10px;
}

h3 {
  padding: 30px;
  text-align: center;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
